* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background: blue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-container {
  text-align: center;
  color: rgb(238, 0, 255);
  background-color: rgb(255, 0, 0);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 500px;
 }
 h1{
  font-size: 2rem;
  margin-bottom: 30px;
  text-shadow: 0 2px 5px rgb(0, 255, 26);
 }
.countdown{
  font-size: 5.5rem;
  font-weight: bold;
  text-shadow: 0 3px 8px rgb(0, 255, 8);
}
#days {
  background: lime;
  color: #333;
  padding: 0 20px;
  border-radius: 12px;
  display: inline-block;
  min-width: 80px;
  box-shadow: 0 4px 15px rgb(255, 0, 13);
}
@media (max-width: 480px) {
.countdown-container {
  padding: 20px;
}
h1 {
  font-size: 1.5rem;
}
.countdown {
  font-size: 2.5rem;
}
}

img{
  width: 200px;
}
#prezent{
  color: blue;
}
#button{
  width: 200px;
}
#pipi{
  width: 400px;
}